<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body ng-app="app">

<script>
    $('#AddressEcontOffice').on('change', function (e) {
        let value = $(this).val();
        let rel = $('#AddressEcontList[value="' + value + '"]').attr('rel');
    });
</script>

<input type="text" class="form-control" list="AddressEcontList" placeholder="demo123" id="AddressEcontOffice">
<datalist id="AddressEcontList">
    <option rel="9605" value="Балчик Левски"></option>
    <option rel="9005" value="Варна Левски"></option>
    <option rel="3012" value="Враца Левски"></option>
    <option rel="4804" value="Девин Васил Левски"></option>
    <option rel="5901" value="Левски"></option>
    <option rel="8900" value="Нова Загора В.Левски"></option>
    <option rel="5806" value="Плевен Васил Левски"></option>
    <option rel="4032" value="Пловдив Васил Левски"></option>
    <option rel="8806" value="Сливен Васил Левски"></option>
    <option rel="1038" value="София Левски"></option>
</datalist>

<!-- <div ng-controller="ctrl">-->

<!-- <input type="text" ng-model="title" list="suggestionList" ng-change="changeIsRaised()">-->

<!-- <datalist id="suggestionList">-->

<!--  <option data-ng-repeat="ttl in titles" value="{{ttl}}">-->

<!-- </datalist>-->

<!-- </div>-->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js">-->
<!--     function ctrl($scope) {-->

<!-- $scope.titles = ["Action Comics", "Detective Comics", "Superman", "Fantastic Four", "Amazing Spider-Man"];-->



<!-- $scope.changeIsRaised = function() {-->

<!-- if ($scope.title == "ch") {-->

<!--  var newSrc = ["john", "bill", "charlie", "robert", "alban", "oscar", "marie", "celine", "brad", "drew", "rebecca", "michel", "francis", "jean", "paul", "pierre", "nicolas", "alfred", "gerard", "louis", "albert", "edouard", "benoit", "guillaume", "joseph"];-->

<!--  $scope.titles = newSrc;-->



<!-- }-->

<!-- }-->

<!--}-->

<!--angular.module('app', []).controller('ctrl', ctrl);-->
<!-- </script>-->

</body>
</html>